html,
body,
#root {
  height: 100%;
}
.App {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #eee;
  padding: 10px;
  /* height: 150px; */
  /* background-color: #222; */
  /* color: white; */
}

.App-title {
  font-size: 1.5em;
}

.Launch-link {
  color: #203f40;
  text-decoration: none;
  display: flex;
}

#elp-badge {
  margin: 0 3em;

  filter: drop-shadow(0 4px 6px rgba(32, 63, 64, 0.2));
  will-change: filter, transform;
  transition: all 150ms ease;
}
