@import url("https://fonts.googleapis.com/css?family=Unica+One|Roboto+Slab");
:root {
  --teal: #01a2a6;
  --red: #a70011;
  --white: hsl(181, 1%, 92%);
  --wrapper-margin: 6px;
  --header-font: "Unica One", sans-serif;
  --body-font: "Roboto Slab", serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--teal);
  background: linear-gradient(90deg, #02a69b 0%, #0295a6 100%);
  line-height: 1.5;
  color: #203f40;
}
